@import "./base.css";

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-flow: column;
  place-items: center;
  padding: 5px;
  overflow: hidden;
}
.dark {
  color-scheme: dark;
}

.light {
  color-scheme: light;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
#app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
}
.lil-gui.autoPlace {
  left: 15px;
  bottom: 0;
  top: auto;
}
