@import "./base.css";

* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-flow: column;
  place-items: center;
  padding: 10px;
  overflow: hidden;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
